{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<br/>

<h1 align="center">Hi <b><span style="color:gray">{{ user.first_name }}</span></b>!<img height="100px" alt="dog" src="{{ url_for('static', filename='dog.jpg') }}">
</h1>

{% endblock %}